@model ipma_weather_service.Models.UserViewModel

@{
    ViewData["Title"] = "City";
}

<div class="container">

    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">

            <h2>Forecast for the selected city</h2>

            <label asp-for="City.GlobalIdLocal"></label>
            <span class="badge">@Model.City.GlobalIdLocal</span>
            <br />

            <!--
                <label asp-for="ForecastDate"></label>
    <span class="badge">Model.ForecastDate</span>
    <br />

    <label asp-for="DataUpdate"></label>
    <span class="badge">Model.DataUpdate</span>
    <br />
        -->

            <label asp-for="City.IdWeatherType"></label>
            <span class="badge">@Model.City.IdWeatherType</span>
            <br />

            <label asp-for="City.TMin"></label>
            <span class="badge">@Model.City.TMin ºC</span>
            <br />

            <label asp-for="City.TMax"></label>
            <span class="badge">@Model.City.TMax ºC</span>
            <br />

            <label asp-for="City.ClassWindSpeed"></label>
            <span class="badge">@Model.City.ClassWindSpeed Km/h</span>
            <br />

            <label asp-for="City.PredWindDir"></label>
            <span class="badge">@Model.City.PredWindDir</span>
            <br />

            <label asp-for="City.PrecipitaProb"></label>
            <span class="badge">@Model.City.PrecipitaProb %</span>
            <br />

            <label asp-for="City.ClassPrecInt"></label>
            <span class="badge">@Model.City.ClassPrecInt</span>
            <br />

            <label asp-for="City.Latitude"></label>
            <span class="badge">@Model.City.Latitude</span>
            <br />

            <label asp-for="City.Longitude"></label>
            <span class="badge">@Model.City.Longitude</span>

        </div>

    </div>

    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">

            <form method="get">
                <button asp-controller="IpmaWeatherService" asp-action="WeatherResponse" class="btn btn-success">Return</button>
            </form>

        </div>

    </div>

</div>