@model ipma_weather_service.Models.City

@{
    ViewData["Title"] = "City";
}

<div class="container">

    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">

            <h2>Forecast for the selected city</h2>

            <label asp-for="GlobalIdLocal"></label>
            <span class="badge">@Model.GlobalIdLocal</span>
            <br />

            <label asp-for="ForecastDate"></label>
            <span class="badge">@Model.ForecastDate</span>
            <br />

            <label asp-for="DataUpdate"></label>
            <span class="badge">@Model.DataUpdate</span>
            <br />

            <label asp-for="IdWeatherType"></label>
            <span class="badge">@Model.IdWeatherType</span>
            <br />

            <label asp-for="TMin"></label>
            <span class="badge">@Model.TMin ºC</span>
            <br />

            <label asp-for="TMax"></label>
            <span class="badge">@Model.TMax ºC</span>
            <br />

            <label asp-for="ClassWindSpeed"></label>
            <span class="badge">@Model.ClassWindSpeed Km/h</span>
            <br />

            <label asp-for="PredWindDir"></label>
            <span class="badge">@Model.PredWindDir</span>
            <br />

            <label asp-for="ProbPrecipita"></label>
            <span class="badge">@Model.ProbPrecipita %</span>
            <br />

            <label asp-for="ClassPrecInt"></label>
            <span class="badge">@Model.ClassPrecInt</span>
            <br />

            <label asp-for="Latitude"></label>
            <span class="badge">@Model.Latitude</span>
            <br />
            
            <label asp-for="Longitude"></label>
            <span class="badge">@Model.Longitude</span>




        </div>

    </div>

    <div class="container">

        <div class="form-group col-md-offset-3 col-md-5">

            <form method="get">
                <button asp-controller="IpmaWeatherService" asp-action="SearchCity" class="btn btn-success">Return</button>
            </form>

        </div>

    </div>

</div>